.content {
    margin-top:150px;
    font-size:20px;
    text-align:center;
}

.content h1 {
    text-align:center;
    font-size:60px;
}

.content h2 {
    font-size: 30px;
}

.navbar-brand {
    font-size:45px;
}

.responsive {
    width:500px;
    height: 340px;
}

figure {
    background: white;
    display:block;
    width: 30%;
    height: 850px;
    float: left;
    margin: 0 20px 100px 0;
    text-align: center;
    margin-left: 20px;
}
   figure p {
    margin-bottom: 21px;
   }