{% extends "shablon/base.html" %}
{% load static %}

{% block title %} Примеры наших работ {% endblock %}

{% block styles %}
         <link rel="stylesheet" type="text/css" href="{% static 'css/raboti.css' %}">
{% endblock %}

{% block content %}
<div class="content text-center justify-content-center">
    <div class="container-fluid justify-content-center">
        <h1>Примеры наших работ</h1>
        <div class="row">
{% for rabota in raboti%}
    <div class="col-xs-12 col-md-4 col-sm-6">
        {% if rabota.image %}
        <a href="{{rabota.image.url}}"><img src="{{rabota.image.url}}"></a>
        {% else %}
        <p></p>
        {% endif %}
                <h2>{{ rabota.title }}</h2>
                </div>
            {% endfor %}
            </div>
          </div>
      </div>

{% endblock %}
