.navbar-nav {
  margin: 0 auto;
}

.navbar-nav a{font-size:18px;font-weight:500;}

.navbar-brand {font-size:30px}

.home {
  margin: 0 auto;
  max-width: 100%;
  width: 50%;
}

.home img {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 540px) {
  .home h1 {font-size: 20pt;}
  .home {width: 100%}
}
