{% extends 'shablon/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock%}

{% block styles %}
       <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
      <div class="home container-fluid text-center">
            <div class="justify-content-center col-xs-12">
            {% for shab in shab %}
            <h1>{{shab.title}}</h1>
            <p>{{shab.text}}</p>
            {% if shab.image %}
            <img src="{{shab.image.url}}">
            {% else %}
            <p></p>
            {% endif %}
            {% endfor %}
            </div>
      </div>
{% endblock %}
