{% extends 'shablon/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock%}

{% block styles %}
       <link rel="stylesheet" type="text/css" href="{% static 'shablon/css/index.css' %}">
{% endblock %}
{% block content %}
      <div class="content container">
            <h1>Информация для посителей нашего сайта</h1>
            <p>Добро пожаловать на сайт Фотостудии на Булаке! Мы предлогаем широкий спектор услуг в области фотопечати, интерьерной печати, оперативных типографических услуг и оформления изображений.
                  Наше продукция производится с помощью современного высокотехнологичного оборудования и руками опытных мастеров.
                  Исполнения заказов в максимально короткие сроки.
                  Удобное расположение в центре города, недалеко от Колхозного рынка и от станции метро «Пл. Тукая»
                  позволит без труда добраться до нашей Фотостудии на Булаке .
                  Подробнее во вкладке контакты, Вы можете перейти в наши соц сети, где мы выкладываем
                  наши работы. Надеемся, что знакомство с нашей компанией будет для Вас не только полезным, но также и
                  интересным!</p>
            <img src="media/image/foto_na_bulake.jpg" class="responsive">
      </div>
      </div>
      </div>
{% endblock %}