{% extends 'shablon/base.html' %}
{% load static %}

{% block title %}Наши услуги и цены{% endblock%}

{% block styles %}
       <link rel="stylesheet" type="text/css" href="{% static 'uslugi/css/uslugi.css' %}">
{% endblock %}
{% block content %}
<div class="content text-center">
     <div class="container-fluid justify-content-center">
    <h1>Услуги</h1>
<div class="row">
{% for uslugi in uslugis%}
    <div class="col-xs-12 col-md-4 col-sm-6">
            {% if uslugi.image %}
    <img src="{{uslugi.image.url}}">
             {% else %}
       <p></p>
            {% endif %}
                    <h2>{{ uslugi.title }}</h2>
                    <p>{{ uslugi.text|linebreaksbr }}</p>
                    <p>Цена: {{ uslugi.price }} руб</p>
    </div>
        {% endfor%}
</div>
</div>
</div>
{% endblock %}